@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: url(img/ORIGOcapa.png) no-repeat center scroll;
   background-size: cover;
   /* height: 250px; */
   height: 100vh;
   width: 100vw;
}

header div#logo {
   background-image: url(img/ORIGO2.png);
   height: 150px;
   width: 250px;
   margin: 10px;
}

header nav {
   color: white;
}

main {
   margin: 5px;
   padding: 5px;
}

footer {
   display: flex;
   justify-content: center;
   background-color: #333;
   height: 30px;
}

ul {
   display: flex;
   list-style-type: none;
   list-style-position: outside;
}

p {
   text-align: justify;
}