@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
}

::-webkit-scrollbar {
   width: 10px;
}

:link {
   color: white;
   text-decoration: none;
}

:link :hover, :visited :hover {
   color: blanchedalmond;
}

:visited {
   color: aliceblue;
}

body {
   width: calc(100vw - 10px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: url(img/ORIGOcapa.png) no-repeat center scroll;
   background-size: cover;
   /* height: 250px; */
   height: 100vh;
}

header div#logo {
   background-image: url(img/ORIGO2.png);
   height: 150px;
   width: 250px;
   margin: 10px;
}

main > nav {
   display: flex;
   justify-content: center;
   
}

main > nav > ul {
   display: flex;
   background-color: #333;
   color: white;
   padding: 15px;
   gap: 20px;
}

main {
   margin: 0px 10px;
   padding: 0px 10px;
}

main p {
   padding: 10px 0px;
}

footer {
   display: flex;
   justify-content: center;
   background-color: #333;
   color: white;
   height: 30px;
}

ul {
   display: flex;
   list-style-type: none;
   list-style-position: outside;
}

p {
   text-align: justify;
}