@charset "UTF-8";

/* ----------------------------------------------- */
/* import----------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url(colorPallete.css);

@import url(pseudo.css);

/* ----------------------------------------------- */
/* geral------------------------------------------ */

* {
   margin: 0px;
   padding: 0px;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */

iframe#map {
   width: 100%;
   height: 400px;
   margin: 10px 0px;
   border: 3px solid var(--corPrim);
}

body {
   /* width: calc(100vw - 10px); */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: url(img/capa.png) no-repeat center scroll;
   background-size: cover;
   height: 50vh;
}

header div#logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

#logo > img {
   height: 100%;
   width: 300px;
}

svg#login {
   position: absolute;
   width: 30px;
   top: 15px;
   right: 15px;
   fill: transparent;
   stroke: white;
   stroke-width: 15px;
}

svg#login :hover {
   position: absolute;
   top: 15px;
   right: 15px;
   animation: 1000ms des infinite linear;
   stroke-dasharray: 425;
   stroke-dashoffset: 0;
}

/* 851 */

@keyframes des {
   0% {
      stroke-dashoffset: 851;
      stroke: var(--cor01);
   }
   100% {
      stroke-dashoffset: 0;
      stroke: var(--cor01);
   }
}

section > :not(:last-child) {
   border-bottom: 2px solid var(--cor01);
   margin-bottom: 25px;
}

main {
   max-width: 600px;
   align-self: center;
   margin: 0px 0px;
   padding: 0px 10px;
}

/* ----------------------------------------------- */
/* nav-------------------------------------------- */

main > nav {
   display: flex;
   justify-content: center;
   width: 100%;
   margin-bottom: 20px;
}

main > nav > ul {
   display: flex;
   width: 300px;
   justify-content: space-around;
   color: white;
   text-align: center;
   padding: 5px 0px;
}

li {
   background-color: var(--cor01);
   width: 60px;
   padding: 5px;
   border-radius: 3px;
}

ul > a :hover {
   background-color: var(--cor03);
   animation-name: glow;
   animation-duration: 200ms;
   animation-iteration-count: 1;
}

@keyframes glow {
   from {background-color: var(--cor01);}
   to {background-color: var(--cor03);}
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */

footer {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #333;
   color: white;
   height: 20px;
   font-size: 0.9em;
   margin-top: 10px;
}

ul {
   display: flex;
   list-style-type: none;
   list-style-position: outside;
}

/* ----------------------------------------------- */
/* ----------------------------------------------- */

h3 {
   font-family: 'Crete Round', 'Times New Roman', Times, serif;
   text-align: center;
}

h4 {
   font-family: 'Source Sans Pro', 'Calibri', sans-serif;
   font-weight: 700;
   text-align: center;
}

p {
   font-family: 'Source Sans Pro', 'Calibri', sans-serif;
   text-align: justify;
   font-size: 1em;
   padding: 0.3em 0px;
}