@charset "UTF-8";

:root {
   --calcButtonWidth: 80px;
}

div {
   position: relative;
}

div input {
   position: absolute;
   top: 0px;
   left: 50%;
   transform: translateX(-50%);
   display: block;
   font-size: 24px;
   padding: 3px;
   text-align: right;
   margin: auto;
}

div ul {
   position: absolute;
   display: flex;
   top: 60px;
   left: 50%;
   transform: translateX(-50%);
   flex-wrap: wrap;
   width: calc(var(--calcButtonWidth) * 4);
}

#calculadora li {
   width: var(--calcButtonWidth);
}

#calculadora li img {
   cursor: pointer;
   transition: scale 50ms;
}

#calculadora li img:hover {
   scale: 1.1;
}


div ul img {
   position: relative;
   margin: 5px;
}

footer {
   position: fixed;
   bottom: 0px;
   width: 100%;
}