@charset "UTF-8";

:root {
   --bttSize: 30px;
   --bttSpace: 5px; 
   --bttSpace2: calc((var(--bttSpace)*2) + var(--bttSize));
   --bttSpace3: calc((var(--bttSpace)*3) + var(--bttSize)*2);
   --bttSpace4: calc((var(--bttSpace)*4) + var(--bttSize)*3);
   --primColor: hsl(25, 100%, 50%);
   --primHoverColor: hsl(0, 0%, 100%);
   --navBar: hsl(0, 0%, 10%);
   --bodyBackgroundColor: hsl(0, 0%, 13%);
}