@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
   background-color: black;
   display: block;
   margin: auto;
}

body header {
   display: flex;
   position: absolute;
   top: 0px;
   padding: 5px;
   width: 100%;
   justify-content: flex-end;
   transition: 150ms;
   transition-timing-function: ease-in-out;
}

.sticky {
   position: fixed;
   padding: 5px;
   width: 100%;
   background-color: hsl(0, 100%, 40%);
   box-shadow: 0px 5px 20px 10px #0007;
}

div#navHamb {
   width: 30px;
   height: 30px;
   margin: auto 10px;
   padding: 5px 3px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

div span {
   width: 100%;
   height: 3px;
   border-radius: 1.5px;
   background-color: white;
}

nav {
   font-weight: bold;
   font-size: 16px;
}

ul {
   display: none;
   width: 100%;
   list-style-type: none;
   justify-content: space-around;
}

ul a{
   color: white;
   text-decoration: none;
   padding: 5px 10px;
}

ul a:hover {
   border-width: 3px;
   border-style: solid;
   border-color: white;
   border-radius: 20px;
   /* border: 3px solid white; */
   animation: navAnim 300ms infinite ease-in-out alternate-reverse;
}

@keyframes navAnim {
   from {
      border-color: white;
   }
   to {
      border-color: red;
   }
}

main {
   margin-top: 100px;
   padding: 20px;
}

section {
   text-align: left;
   margin: 30px auto 10px;
}

h1, h2, h3, h4, h5, h6 {
   margin-bottom: 16px;
   color: white;
}

p {
   margin-bottom: 8px;
   color: white;
}

footer p {
   padding: 10px;
   text-align: center;
}