@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width:720px) {
   nav {
      position: relative;
   }

   ul {
      display: flex;
      top: 20px;
      right: -55px;
      gap: 10px;
      padding: 3px;
      position: absolute;
      flex-direction: column;
      background-color: var(--navBar);
   }

   main section {
      padding: 30px;
   }

   main h1 {
      margin-bottom: 50px;
   }

}

::-webkit-scrollbar {
   display: none;
}

body {
   background-color: var(--bodyBackgroundColor);
   display: block;
   margin: auto;
}

body header {
   display: flex;
   position: absolute;
   padding: 5px;
   width: 100%;
   justify-content: flex-end;
   align-items: center;
   transition: 150ms;
   transition-timing-function: ease-in-out;
   background-color: var(--navBar);
}

.sticky {
   position: fixed;
   padding: 5px;
   width: 100%;
   background-color: var(--navBar);
   box-shadow: 0px 5px 20px 10px #0007;
}

div#navHamb {
   width: 30px;
   height: 30px;
   margin: auto 10px;
   padding: 5px 3px;
   display: flex;
   position: relative;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   cursor: pointer;
}

nav {
   font-weight: bold;
   font-size: 16px;
   user-select: none;
}

ul {
   list-style-type: none;
}

li a{
   position: relative;
   color: var(--primColor);
   text-decoration: none;
   padding: 0px 10px;
}

li a:hover {
   transition: 150ms color;
   color: var(--primHoverColor);
}

/* hamburguer menu bar size */

div span {
   width: 25px;
   height: 3px;
   border-radius: 1.5px;
   background-color: var(--primColor);
   transition: all 150ms;
}

div#navHamb:hover span {
   background-color: var(--primHoverColor);
}

span.lin1 {
   transform: rotate(-45deg) translate(-6px, 6px);
   background-color: var(--primColor);
}

span.lin2 {
   display: none;
}

span.lin3 {
   transform: rotate(45deg) translate(-6px, -6px);
   background-color: var(--primColor);
}

main {
   padding: 50px;
}

section {
   text-align: left;
   margin: 30px auto 10px;
}

h1, h2, h3, h4, h5, h6 {
   margin-bottom: 16px;
   color: white;
}

p {
   margin-bottom: 8px;
   color: white;
   text-align: justify;
}

footer p {
   padding: 10px;
   text-align: center;
   user-select: none;
}