@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
   background-color: black;
   padding: 15px;
   display: block;
   margin: auto;
}

.nav1 {
   position: relative;
   padding: 10px 0px;
   width: 100%;
   background-color: hsl(0, 100%, 40%);
}

.nav2 {
   position: fixed;
   top: 0px;
   right: 0px;
   padding: 5px;
   width: 100%;
   background-color: hsl(0, 100%, 40%);
}

nav {
   font-weight: bold;
   font-size: 16px;
   width: 400px;
   margin-left: calc(100% - 400px);
}

nav a{
   color: white;
   text-decoration: none;
}

ul {
   display: flex;
   width: 100%;
   list-style-type: none;
   justify-content: space-around;
}

main {
   margin-top: 20px;
}

h1, p {
   color: white;
}

section {
   text-align: left;
   margin: 30px auto 10px;
}