@charset "UTF-8";

:root {
   --bttSize: 30px;
   --bttSpace: 5px; 
   --bttSpace2: calc((var(--bttSpace)*2) + var(--bttSize));
   --bttSpace3: calc((var(--bttSpace)*3) + var(--bttSize)*2);
   --bttHoverColor: rgb(0, 255, 0);
}

button {
   position: fixed;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   height: var(--bttSize);
   width: var(--bttSize);
   background-color: rgb(85, 85, 85);
   color: white;
   cursor: pointer;
   border-radius: 10px;
   border-color: rgb(255, 0, 0);
   transition: filter 300ms;
   user-select: none;
}

#fontSizeDecrease {
   left: var(--bttSpace);
}

#fontSizeNormal {
   left: var(--bttSpace2);
}

#fontSizeIncrease {
   left: var(--bttSpace3);
}

#fontSizeDecrease:hover {
   border-color: var(--bttHoverColor);
}

#fontSizeNormal:hover {
   border-color: var(--bttHoverColor);
}

#fontSizeIncrease:hover {
   border-color: var(--bttHoverColor);
}