@charset "UTF-8";

html, body {
  margin: 0;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
}

body {
  overflow: hidden;
  height: inherit;
  background-color: black;
}

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  position: fixed;
  margin: 0;
  top: 5px;
  right: 5px;

  color: rgba(255 255 255 / .25);

  z-index: 50;
  }

p {
  position: fixed;
  margin: 0;
  top: 45px;
  right: 5px;
  color: #aaa;

  z-index: 50;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}