@charset "UTF-8";

:root {
   --whiteKeys: #fff;
   --blackKeys: #000;
   --whiteKeyHeight: 150px;
   --transl: translateY(-50%);
   --blackKeyHeight: calc((var(--whiteKeyHeight) / 3) * 2);
   --corKey: 150, 100%;
   --wKeyHover: hsla(var(--corKey), 50%, 1);
   --bKeyHover: hsla(var(--corKey), 30%, 1);
   --keyClick: aquamarine;
   --keyShadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

* {
   margin: 0;
   padding: 0;
}

.main {
   position: relative;
   width: 100vw;
   height: 100vh;
   background-color: rgb(201, 118, 118);
}

#white, #black {
   position: absolute;
   height: fit;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3px;
}

#white {
   top: 50%;
   transform: translateY(-50%);
}

#black {
   top: calc((50%) - var(--whiteKeyHeight) / 6);
   transform: translateY(-50%);
   /* padding-bottom: calc(var(--whiteKeyHeight) / 3); */
}

div[id*=branca] {
   background-color: var(--whiteKeys);
   width: 30px;
   height: var(--whiteKeyHeight);
}

div[id*=branca]:hover {
   background-color: var(--wKeyHover);
   box-shadow: var(--keyShadow);
}

div[id*=preta]:hover {
   background-color: var(--bKeyHover);
   box-shadow: var(--keyShadow);
}

div[id*=preta] {
   background-color: var(--blackKeys);
   width: 30px;
   height: var(--blackKeyHeight);
}

div[id*=clear] {
   display: hidden;
   width: 30px;
   height: var(--blackKeyHeight);
}