@charset "UTF-8";

* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
}

h1 {
   text-align: center;
   margin: 10px 0px;
}

h3 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   text-align: center;
   font-size: 3em;
   color: #ddd;
}

.flex-container {
   display: flex;
   height: 400px;
   flex-flow: row wrap;
   justify-content: center;
   align-content: center;
   background-color: dodgerblue;
   background-image: url(capa.png);
}

.flex-container article {
   backdrop-filter: blur(6px);
   box-shadow: 0px 0px 10px 3px #0003;
   width: 100px;
   margin: 5px;
   border-radius: 7px;
   transform: scale(1);
   transition: 5=300ms ease-in-out all;
}

.flex-container article:hover {
   border-radius: 7px;
   cursor: pointer;
   transform: scale(1.2);
   background-color: deepskyblue;
   transition: 300ms ease-in-out all;
   animation: glow 700ms ease-in-out infinite alternate;
   z-index: 1;
}

.flex-container h3:hover {
   z-index: 1;
}

@keyframes glow {
   from {
      box-shadow: 0px 0px 1px 1px #fffd;
   }
   to {
      box-shadow: 0px 0px 5px 2px #fffd;
   }
}