@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  height: auto;
  background-color: lightslategrey;
}

h1 {
  text-align: center;
  margin: 2rem auto 4rem;
  color: white;
  text-shadow: 0 10px 5px rgba(0 0 0 / .2);
}