@charset "UTF-8";

:root {
   font-size: 62.5%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   padding: 1rem;
   font-size: 1.6rem;
   font-family: Arial, Helvetica, sans-serif;
}

h1 {
   text-align: center;
}

div p {
   margin-bottom: 1rem;
}

p:nth-child(2) {
   font-weight: bold;
}

div {
   padding: 2rem;
   border-radius: 0.5rem;
   box-shadow: 0 10px 10px 0px rgba(0 0 0 / 0.20);
}

div:nth-child(odd) {
   background-color: rgba(117 65 201 / 1);
   color: white;
}

div:nth-child(even) {
   background-color: rgba(255, 235, 199, 1);
}

div:nth-child(3) {
   background-color: rgba(100, 100, 100, 1);
   color: white;
}

.gridContainer {
   display: grid;
   gap: 1.5rem;
   grid-template-columns: repeat(4, 1fr);
}

.grid-col-span-2 {
   grid-column: span 2;
}

div:last-child {
   background-color: rgb(165, 42, 42);
   grid-column-start: 4;
   /* grid-row-start: 1;
   grid-row-end: span 2; */
   grid-row: 1 / span 2;
}

div:nth-child(3) {
   background-color: blue;
}