@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;
}

/* ========================================================== */

@media screen and (min-width: 0px){

   section {
      grid-template-columns: 1fr;
   }
}

@media screen and (min-width: 725px){

   section {
      grid-template-columns: repeat(2, 1fr);
   }

   div:last-child {
      grid-column: 1 / span 2;
   }
}

@media screen and (min-width: 1000px){

   section {
      grid-template-columns: repeat(3, 1fr);
   }

   div:last-child {
      grid-column: 2 / span 2;
   }

}

/* ========================================================== */

body {
   font-size: 1.6rem;
   padding: 2rem;
   font-family: Arial, Helvetica, sans-serif;
}

header {
   text-align: center;
   margin-bottom: 2rem;
}

img {
   width: 5rem;
}

div p {
   text-align: justify;
   color: rgb(235, 235, 235);
}

/* ========================================================== */

section {
   margin: auto;
   width: min(800px, 90%);
   display: grid;
   gap: 1rem;
   /* grid-template-columns: repeat(3, 1fr); */
}

/* ========================================================== */

div > div {
   margin: 2rem auto;
}

/* ========================================================== */

div:has(img:first-child) {
   text-align: center;
}

div:has(div:first-child) {
   cursor: pointer;
   border-radius: 1rem;
   padding: 1.5rem;
   background: linear-gradient(45deg, blue, red);
   background-color: rgb(63, 63, 63);
   background-repeat: no-repeat;
   background-size: 100% 200%;
   background-position-y: -100%;
   transition: all ease-in-out 300ms;
}

div:has(div:first-child):hover {
   background-position-y: 0%;
   transition: all ease-in-out 200ms;
}

p:nth-child(2) {
   text-align: center;
   font-size: 1.6rem;
   font-weight: bold;
   margin-bottom: 2rem;
}