@charset "UTF-8";

:root {
   margin: 0px;
   padding: 0px;
}

.container {
   position: absolute;
   left: 50%;
   top: 50px;
   transform: translate(-50%, 0);
   padding: 10px;

   display: flex;
   flex-direction: column;
   

   border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.1);
}

.container p:last-child {
 align-self: flex-end;
}

button[type="submit"] {
   border-radius: 5px;
   border-color: rgba(0, 0, 0, 0.5);
}

button[type="submit"]:hover {
   border-color: rgba(255, 0, 0, 0.8);
}

table {
   position: absolute;
   left: 50%;
   top: 300px;
   transform: translate(-50%, 0);
   border: 2px solid black;
   border-collapse: separate;
}

th, td {
   padding: 5px;
   background-color: white;
   color: black;
   border: 1px solid black;
}