@charset "UTF-8";

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding: 20px;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 350px;
  max-width: 80dvw;
  min-height: 150px;
  resize: none;
}

.btt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

button {
  padding: 5px;
}